<%- include('partials/header') -%>

<section class="profile-box">
    <div class="profile">
            <img src=<%= data.picture %> alt="profile">
            <div class="profile-text">
                <p><%= data.name %></p>
                <p><%= data.email %></p>
            </div>
        <a href="/"><button hr>GO HOME</button></a>
    </div>
</section>

<%- include('partials/footer') -%>